
        html {

            position: relative;

            min-height: 100%;

            margin: 0;


        }

        body {

            min-height: 100%;

        }

        #home a {
            margin-top: 10px;
            height: 35px;
            width: 30px;
        }

        .nav {
            height: 100px;
            line-height: 100px;
            background-color: #fff1fd;
        }

        .nav-item {
            width: 20%;
            text-align: center;
        }

        #content {
            width: 1400px;

            margin: auto;
        }


        #footer {
            position: absolute;

            left: 0;

            bottom: 0;

            width: 100%;

            padding: 15px 0;

            text-align: center;

            color: white;
            text-align: center;
            background-color: darkgray;
            height: 125px;
        }


        .wrap p {
            font-size: 15px;
            padding-top: 30px;
            padding: 0;
        }





